<%- include('partials/header') %>

<div class="home">
  <i class="fas fa-key fa-6x"></i>
  <a class="home-title" href="/secrets"><h1>Secrets</h1></a>
  <p>Don't keep your secrets, share them anonymously!</p>
  <hr>
  <div class="home-buttons">
    <a href="/register"><button class="register-btn">Register</button></a>
    <a href="/login"><button class="login-btn">Login</button></a>
  </div>

</div>


<%- include('partials/footer') %>
