<%- include('partials/header-int') %>

<div class="secrets">
  <div class="secrets-title">
    <i class="fas fa-key fa-6x"></i>
    <h2>You've discovered my secret!</h2>
    <a href="/submit"><button class="submit-btn">Write a new secret</button></a>
  </div>
  <div class="secrets-container">
    <% usersWithSecrets.forEach(function(user) { %>
      <% user.secret.forEach(function(aSecret) { %>
        <div class="a-secret">
          <p><%=aSecret%></p>
        </div>
    <%  }) %>
    <% }) %>
  </div>
</div>

<%- include('partials/footer') %>
