<%- include('partials/header-int') %>

<div class="submit">
  <i class="fas fa-key fa-6x"></i>
  <h1>Secrets</h1>
  <p>Don't keep your secrets, share them anonymously!</p>
  <hr>
  <form action="/submit" method="post">
    <<textarea class="submit-secret" name="secret" rows="8" placeholder="What's your secret? (max. 300 characters)"></textarea>
    <br>
    <button class="submit-btn" type="submit">Submit</button>
  </form>
</div>


<%- include('partials/footer') %>
